.filter-item {
  margin-top: 35px;
  min-height: 180px;
  border: solid thin #efefef;
}
.items .filter-item-details {
  min-height: 120px;
  padding: 10px 0;
}
.filter-area.swim-spas .filter-item-details {
  margin: 10px;
  text-align: center;
}
.items .filter-item-details .filter-item-specs {
  padding-left: 0;
}
.items .filter-item-details .filter-item-specs h3 {
  font-size: 26px;
}
.items .filter-item-details .filter-item-specs img {
  max-width: 20px;
}
.filter-area.swim-spas .filter-item-details .filter-item-specs img {
  max-width: 25px;
  margin: 0px 2px;
}
.items .filter-item-details .filter-item-specs p {
  margin-bottom: 15px;
}
.items .filter-item-details .filter-item-specs a {
  color: #fff;
  display: block;
  background-color: #00aad4;
  font-size: 14px;
}
.filter-area.swim-spas .filter-item-details .filter-item-specs a {
  max-width: 300px;
  margin: auto;
}
.controls {
    background-color: #136183;
  /*background-image: url(/img/colors-light-bg.webp);*/
  /*background-repeat: no-repeat;*/
  /*background-position: top left;*/
  /*background-size: cover;*/
  /*margin-top: 50px;*/
  /*height: 100%;*/
}
.no-webp .controls {
  background-image: url(/img/colors-light-bg.jpg);
}
@media only screen and (min-width: 300px) {
  .controls {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .controls {
    margin-top: -115px;
    padding: 15px;
    min-height: 600px;
    height: 100%;
  }
}
span.tubwrap {
  display: block;
  height: 192px;
}
.filter-area.swim-spas span.tubwrap {
  height: 100%;
}
.filter-area.swim-spas span.tubwrap img {
  margin: 0px auto 10px;
}
span.tubwrap img {
  max-height: 192px;
}
select {
  margin-bottom: 15px;
}
.filter-item-details h2 {
  margin: 0;
  border-bottom: #000;
  padding-bottom: 10px;
}
.seatingNumber {
  font-size: 18px;
  color: #414141;
  vertical-align: middle;
}
.dollars {
  display: inline-block;
  width: 100px;
  height: 27px;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  font-size: 18px;
  color: #414141;
  letter-spacing: 1px;
}
.dollars1 {
  background: url(/img/icons/sprite-dollars.png) 0 0;
}
.dollars2 {
  background: url(/img/icons/sprite-dollars.png) -100px 0;
}
.dollars3 {
  background: url(/img/icons/sprite-dollars.png) -200px 0;
}
.dollars4 {
  background: url(/img/icons/sprite-dollars.png) -300px 0;
}
.dollars5 {
  background: url(/img/icons/sprite-dollars.png) -400px 0;
}
.swim-level {
  border: solid 2px #ddd;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  height: 40px;
  padding: 5px;
  max-width: 300px;
  display: block;
  margin: 0px auto 5px;
}
@media only screen and (max-width: 974px) {
  .controls {
    padding: 15px;
  }
}
