<footer>
     <section class="bgGray">
          <div class="container">
               <div class="row">
                    <div class="col-sm-3">
                         <a href="/">
                              <img loading="lazy" class="img-responsive footerLogo" src="/img/ms-logo.png"
                                   alt="Gulfsouth Spas Logo" />
                         </a>
                         <br />
                         <p>
                              Creating your dream backyard oasis should be simple. With the
                              Gulfsouth Spas range of ultra-therapeutic hot tubs and swim
                              spas, it is.
                         </p>

                         <!--<section class="socmed">-->
                         <!--     <a href="javascript:void" target="_blank">-->
                         <!--          <span class="">-->
                         <!--               <i class="fab fa-facebook"></i>-->
                         <!--          </span>-->
                         <!--     </a>-->

                         <!--     <a href="javascript:void" target="_blank">-->
                         <!--          <span class="">-->
                         <!--               <picture>-->
                         <!--                    <source srcSet="/img/social/houzz-social-icon.webp" type="image/webp" />-->
                         <!--                    <source srcSet="/img/social/houzz-social-icon.png" type="image/png" />-->
                         <!--                    <img loading="lazy" src="/img/social/houzz-social-icon.png"-->
                         <!--                         alt="Relax with Gulfsouth Spas on Houzz" />-->
                         <!--               </picture>-->
                         <!--          </span>-->
                         <!--     </a>-->

                         <!--     <a href="javascript:void" target="_blank">-->
                         <!--          <span class="">-->
                         <!--               <i class="fab fa-instagram"></i>-->
                         <!--          </span>-->
                         <!--     </a>-->

                         <!--     <a href="javascript:void" target="_blank">-->
                         <!--          <span class="">-->
                         <!--               <i class="fab fa-pinterest"></i>-->
                         <!--          </span>-->
                         <!--     </a>-->

                         <!--     <a href="javascript:void" target="_blank">-->
                         <!--          <span class="">-->
                         <!--               <picture>-->
                         <!--                    <source srcSet="/img/social/threads-social-icon.webp" type="image/webp" />-->
                         <!--                    <source srcSet="/img/social/threads-social-icon.png" type="image/png" />-->
                         <!--                    <img loading="lazy" src="/img/social/threads-social-icon.png"-->
                         <!--                         alt="Relax with Gulfsouth Spas on Threads" />-->
                         <!--               </picture>-->
                         <!--          </span>-->
                         <!--     </a>-->

                         <!--     <a href="javascript:void" target="_blank">-->
                         <!--          <span class="">-->
                         <!--               <i class="fab fa-tiktok"></i>-->
                         <!--          </span>-->
                         <!--     </a>-->
                         <!--     <a href="javascript:void" target="_blank">-->
                         <!--          <span class="">-->
                         <!--               <picture>-->
                         <!--                    <source srcSet="/img/social/twitter-x-social-icon.webp"-->
                         <!--                         type="image/webp" />-->
                         <!--                    <source srcSet="/img/social/twitter-x-social-icon.png" type="image/png" />-->
                         <!--                    <img loading="lazy" src="/img/social/twitter-x-social-icon.png"-->
                         <!--                         alt="Relax with Gulfsouth Spas on Twitter" />-->
                         <!--               </picture>-->
                         <!--          </span>-->
                         <!--     </a>-->
                         <!--     <a href="javascript:void" target="_blank">-->
                         <!--          <span class="">-->
                         <!--               <i class="fab fa-youtube"></i>-->
                         <!--          </span>-->
                         <!--     </a>-->

                         <!--     <p>Relax with us on Social</p>-->
                         <!--</section>-->
                    </div>
                    <div class="col-sm-9">
                         <div class="junkDrawer">
                              <ul>
                                   <li class="listTitle">Shop Products</li>
                                   <li>
                                        <a href="/hot-tubs.html">Hot Tubs</a>
                                   </li>
                                   <li>
                                        <a href="/swim-spas.html">Swim Spas</a>
                                   </li>
                                   <li>
                                        <a href="/customer-support.html">Customer Support</a>
                                   </li>
                                   <li>
                                        <a href="/contact-us.html">Contact Us</a>
                                   </li>
                                   <!--<li>-->
                                   <!--     <a href="javascript:void">Find My Spa Quiz</a>-->
                                   <!--</li>-->
                                   <!--<li>-->
                                   <!--     <a href="javascript:void">Buying Tools</a>-->
                                   <!--</li>-->
                                   <!--<li>-->
                                   <!--     <a href="javascript:void">Compare Hot Tub Brands</a>-->
                                   <!--</li>-->
                              </ul>

                              <ul>
                                   <li class="listTitle">Hot Tubs / Swim SPA</li>
                                   <li>
                                        <a href="/swim-spas.html">Swim SPA Series</a>
                                   </li>
                                   <li>
                                        <a href="/trident-series.html">Trident Series</a>
                                   </li>
                                   <li>
                                        <a href="/nautical-serie.html">Nautical Series</a>
                                   </li>
                                   <li>
                                        <a href="/coastal-series.html">Coastal Series</a>
                                   </li>
                                   <!--<li>-->
                                   <!--     <a href="javascript:void">Trade-In</a>-->
                                   <!--</li>-->
                              </ul>

                              <!--<ul>-->
                              <!--     <li class="listTitle">Swim SPA</li>-->
                              <!--     <li>-->
                              <!--          <a href="javascript:void">SS12 Model</a>-->
                              <!--     </li>-->
                              <!--     <li>-->
                              <!--          <a href="javascript:void">SS13 Model</a>-->
                              <!--     </li>-->
                              <!--     <li>-->
                              <!--          <a href="javascript:void">SS14 Model</a>-->
                              <!--     </li>-->
                              <!--     <li>-->
                              <!--          <a href="javascript:void">SS16 Model</a>-->
                              <!--     </li>-->
                              <!--</ul>-->

                              <ul>
                                   <li class="listTitle">Ideas &amp; Support</li>
                                   <li>
                                        <a href="/contact-us.html">SPA Registration</a>
                                   </li>
                                   <li>
                                        <a href="/hot-tub-maintenance-guide">Maintenance Guide</a>
                                   </li>
                                   <li>
                                        <a href="/hot-tub-owners-manuals.html">Owner's Manuals</a>
                                   </li>
                                   <li>
                                        <a href="/faq">FAQ's</a>
                                   </li>
                              </ul>
                         </div>
                    </div>
               </div>
          </div>
     </section>
     <section class="text-center">
          <br />
          <p>
               Copyright &copy; 2024, Gulfsouth Spas | <a href="javascript:void">Legal</a>
          </p>
          <p>
               <a href="javascript:void">Privacy Statement</a>
          </p>
          <br />
     </section>
     <section class="usa">
          <p>
               Built in
               <picture>
                    <source srcSet="/img/usa.webp" type="image/webp" />
                    <source srcSet="/img/usa.jpg" type="image/jpg" />
                    <img loading="lazy" src="/img/usa.jpg" alt="United States Flag" />
               </picture>
               the USA
          </p>
     </section>
     <section class="footDisclaimer">
          <small>
               The Gulfsouth Spas line of spas has been designed, produced and
               perfected by our team in Tennessee for since 2010. We are a family
               business of dedicated spa professionals offering lifetime factory
               service that supports its products, so that consumers can enjoy
               peace of mind and can take advantage of the lifelong health benefits
               of their spas. Spas are technically challenging deluxe products
               which include amongst other things : plumbing, electricity, and
               electronics. All components have to face the outdoor elements and
               the variability of the seasons. You want to make certain that you
               are dealing with someone who is going to be around for a long time
               and who is dedicated with the service and upkeep of your spa, way
               after your date of purchase. Our lifetime factory service ensures
               that we will always support you. We offer training to our authorized
               dealers and have a network of spa repair professionals throughout
               the United States for field service issues, on top of our expert
               inside team ready to support you and answer any questions. We are
               proud of our 5-star quality program and our lifetime factory service
               support. We value friendship and respect with our customers and live
               by the golden rule. We care about others, and we care about you.
               Don’t hesitate to email to us at anytime, it is always our pleasure
               to serve you:
          </small>
     </section>
</footer>