<nav class="navbar navbar-default navbar-fixed-top bumpedNav" id="dtopNav">
     <div class="container ">
          <div class="">
               <a href="#mobaMenu" id="toggle" type="button" class="navbar-toggle collapsed toggle openNav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
               </a>
               <a class="navbar-brand" href="/">
                    <picture>
                         <source srcSet="/img/ms-logo.png" type="image/png" />
                         <img src="/img/ms-logo.png" alt="Gulfsouth Spas Logo" />
                    </picture>
               </a>
          </div>
          <div id="navbar" class="collapse navbar-collapse pull-right">
               <ul class="nav navbar-nav">
                    <li class="dropdown dropdown-large">
                         <a href="/hot-tubs">
                              Hot Tubs <b class="caret"></b>
                         </a>
                         <ul class="dropdown-menu dropdown-menu-large row">
                              <li class="col-sm-12">
                                   <ul class="dropdown-brands">
                                        <li>
                                             <a href="/trident-series?popover=show">
                                                  <span>Trident Series</span>
                                             </a>
                                        </li>
                                        <li>
                                             <a href="/nautical-series?popover=show">
                                                  <span>Nautical Series</span>
                                             </a>
                                        </li>
                                        <li>
                                             <a href="/coastal-series?popover=show">
                                                  <span>Coastal Series</span>
                                             </a>
                                        </li>
                                   </ul>
                              </li>
                         </ul>
                    </li>
                    <li class="dropdown dropdown-large">
                         <a href="/swim-spas">
                              Swim Spas <b class="caret"></b>
                         </a>
                         <ul class="dropdown-menu dropdown-menu-large row">
                              <li class="col-sm-12">
                                   <ul>
                                        <li>
                                             <a href="/swim-spas">General Overview</a>
                                        </li>
                                        <li>
                                             <a href="javascript:void">Shop all swim spas</a>
                                        </li>
                                   </ul>
                              </li>
                         </ul>
                    </li>
                    <li>
                         <a href="/customer-support">Ideas &amp; Support</a>
                    </li>
                    <li>
                         <div class="btn para" style='background-color: transparent; width:20px'>
                              <!-- {/*<a href="/find-a-dealer"></a>*/} -->
                         </div>
                    </li>
               </ul>
          </div>
          <div id="theCurrentPage" style='display:none' data-id=""></div>
          <!-- <div id="popover-wrapper">
               <div class="nav-popover healthy-pop">
                    <div>
                         <div><img alt="Arrow pointing dowon to second navigation menu" src="/img/arrow-down.png"></div>
                         <ul>
                              <li id="theGalleryLink" class="current"><a
                                        href="/trident-series?popover=show"><span>Gallery</span></a>
                              </li>
                              <li id="theFeatureLink"><a href="javascript:void(0)"><span>Features</span></a></li>
                              <li id="theModelsLink"><a href="javascript:void(0)"><span>Models</span></a>
                              </li>
                         </ul>
                    </div>
               </div>
          </div> -->
     </div>
</nav>